<div class="container-fluid">
    <div class="row">

        <div class="panel panel-default">
            <div class="panel-heading">Zone Master</div>
            <div class="panel-body">
                <form name="ncForm" class="form-horizontal" novalidate>


                    <div class="form-group">

                        <div class="alert alert-danger" ng-show="vm.errorMessage.length>0">
                             <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <ul >
                                <li  ng-repeat="obj in vm.errorMessage">
                                    <strong>{{obj}}</strong> 
                                </li>
                            </ul>
                        </div>
                        <!-- Code -->
                        <div class="col-sm-2">
                            <label for="zoneCode" class="control-label">Zone Code</label>

                            <input type="text" class="form-control" readonly name="zoneCode" ng-model="vm.model.zonecode" />

                        </div>
                        <!-- notificatio Text -->
                        <div class="col-sm-6" ng-class="{ 'has-error' : vm.submitted}">
                            <label for="zoneName" class="control-label">Zone Name</label>*
                            <input type="text"
                                class="form-control"
                                name="notificationText"
                                ng-model="vm.model.zoneName"
                                ng-required="true" />

                        </div>
                       
                        <div class="col-sm-2">
                            <label for="isActive" class="control-label">Is Active</label>
                            <input type="checkbox" class="form-control" name="isactive" ng-model="vm.model.isActive">
                        </div>

                    </div>




                    <hr />
                    <div class="form-group">
                        <div class="col-sm-offset-4 col-sm-10">
                            <button class="btn btn-primary" ng-click="vm.create()">New</button>
                            <button type="submit" class="btn btn-primary" ng-disabled="vm.model.zonecode.length<=0" ng-click="vm.save()">Save</button>
                            <button class="btn btn-primary" ng-click="vm.clear()">Clear</button>
                        </div>
                    </div>
                    <hr />
                    <div class="col-sm-12">

                        <div id="data" ui-grid="vm.gridZones" ui-grid-resize-columns ui-grid-auto-resize ui-grid-selection class="customGrid"></div>
                    </div>


                </form>
            </div>
        </div>

    </div>
</div>


